:root{
    --heading-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110dvh;
    width: 100%;
}

main{
    min-height: 100dvh;
    width: 50rem;
    border: 1px solid black;
    
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

header{
    
}


.div1 {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;
    border-bottom: 2px dashed black;
    
}

.div1 .image-container{
    height: 11rem;
    padding: 1rem;
}

.div1 .name-aboutme-container{
    margin: 1.5rem 1rem .5rem 0;
}


.div1 .name-container {
    width: 100%;
    /* background-color: red; */
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.div1 .name-container h1{
    position: relative;
    text-align: center;
    font-family: "Source Code Pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
    letter-spacing: -1px;
    /* background-color: pink; */
}

.div1 .name-container span {
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-size: 1rem;
    font-family: var(--heading-font);
    transform: rotate(350deg);
}

.div1 .name-aboutme-container {
    padding-bottom: .5rem;
}

.div1 .aboutme-container span {
    font-family: var(--heading-font);
    display: block;
    font-weight: 610;
    margin-bottom: .7rem;
    color: rgb(3, 161, 146);

}
.div1 .aboutme-container p{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        text-align: justify;
        font-size: .8rem;
        letter-spacing: .5px;
        width: 90%;
        word-spacing: 1px;
        word-wrap: normal;
        color: #000000;
        font-weight: 600;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        text-indent: 50px;
        padding-bottom: 1rem;
        
}




.div2 {
    position: relative;
    margin: 1.5rem 0 0rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100dvh - 11rem);
}





.div2 .h3-icon i {
    font-size: 1rem;

}

.div2 .h3-icon h3 {
    font-size: 1rem;
    /* color: green; */
    font-weight: 600;
    font-family: var(--heading-font);

}
.div2 .contact-skill-experience-container .h3-icon{
    display: flex;
    text-transform: uppercase;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 5px;
    border-top-right-radius: 1.5rem;
    width: 90%;
    border-bottom-right-radius: 1.5rem;
    background-color: rgb(32, 32, 32);
}


.div2 span, .div2 a, .div2 address{
    font-family: monospace;
    text-decoration: none;
    width: 100%;
    color: black;

}


.div2 .contact-skill-experience-container{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}



.div2 .contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.div2 .contact-container div span{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.div2 .contact-skill-experience-container .container{ 
    padding: .25rem 1rem;
    font-weight: 600;
    font-family: var(--heading-font);
}












.div2 .personal-education-container{
    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    /* margin-left: rem; */
    /* position: relative; */
    
}

.div2 .personal-education-container .education-container{
    width: 80%;
    /* float: right; */
    margin-left: auto;
        /* Push it to the right */
    /* background-color: red; */
}

.div2 .personal-education-container .social-container {
    margin-top: 1.5rem;
    width: 80%;
    
}

.div2 .personal-education-container .h3-icon{
    width: 100%;
    background-color: rgb(32, 32, 32);
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding: 5px;
    color: white;
    padding-left: 3rem;
    gap: 0.5rem;
}

.div2 .personal-education-container .social-container .h3-icon{
    width: 100%;
        background-color: rgb(32, 32, 32);
        border-bottom-left-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        padding: 5px;
        color: white;
        padding-left: 3rem;
        gap: 0.5rem;
}


.div2 .personal-education-container .education-container .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem 0 0 2rem;
    flex-direction: column;
}

.div2 .personal-education-container .container .year-grade{
    font-size: 1.2rem;
    font-weight: 600;
}


.div2 .social-container .links{
    
    display: flex;
    padding-top: 1rem ;
    /* background-color: blue; */
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


img{
    width: auto;
    height: 100%;
    border: 2px solid black;
}